<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Waddle</title>
  
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" href=".vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    

  </head>
  <body id = "page-top">
    <!--goes to about page-->
    <!--<a href="/about">About</a>-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <a class="navbar-brand" href="#page-top">Waddle</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" id = "about_nav" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/show_all">All Waddles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id = "form_nav"href="#form">Sign Up</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id = "contact_nav"href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <header class="masthead" style="background:linear-gradient(to left, #5CC8F2, #0487D9);">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">Welcome to Waddle!</h1>
              <h3>Don't waddle alone!</h3>
              <h3> Join a Waddle today!</h3>
              <a id = "lm" href = "#about"class="btn btn-outline btn-xl">Learn more!</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div >
                  <img src="img/penguin-logo.png" class="img-fluid" alt="Penguin logo">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--About Section-->
    <section class="download bg-primary text-center" id="about" style="background:#FF791D;">
      <div id = "aboutDiv" class="container" style="background:#FF791D; !important">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading" style="color:white;">About</h2>
            <p>How a solo penguin becomes a waddle.</p>
            <hr>
            <p>Waddle is a web app designed for people to walk from a start point to a destination together. Enter your location and find waddles of other people walking to a similar destination. </p>
            <p>Waddle was designed by Clarissa Xu and Linda Weng in partnership with Kode with Klossy Detroit .</p>
            <p></p>
            <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-3">
                  <div class="feature-item">
                    <i class="fa fa-globe text-primary"></i>
                    <h3>Eco-friendly</h3>
                    <p class="text-muted">Help save the environment my waddling instead of driving!</p>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="feature-item">
                    <i class="fa fa-users text-primary"></i>
                    <h3>Meet New People</h3>
                    <p class="text-muted">Make new friends and meet other members of the community!</p>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="feature-item">
                    <i class="fa fa-home text-primary"></i>
                    <h3>Safety First</h3>
                    <p class="text-muted">Waddle to places safely in numbers!</p>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="feature-item">
                    <i class="fa fa-bolt text-primary"></i>
                    <h3>Daily Exercise</h3>
                    <p class="text-muted">Waddle instead of drive for your daily exercise time!</p>
                  </div>
                </div>
              </div>
            </div>
          </div class="start-now">
            <a href="#form" id = "sn"class="btn btn-outline btn-xl">Start Now!</a>
          </div>
        </div>
      </div>
    </section>
    <!--lets user input info-->
    <section class="features" id="form">
      <div class="container">
        <div class="section-heading text-center">
          <h2 style="color:black !important">Please enter your information:</h2>
          <p class="text-muted" style="color:black !important">After you fill out your starting location, we will display waddles with similar destinations as you.</p>
          <hr>
        </div>
        <div class = "text-center" >
          
            <div class = "row">
              <!--<div class = "col-4">-->
                
              <!--</div>-->
              <div class = "col-lg-6">
              <form method="POST" action="/groups">
                <h4 style="color:black !important">Starting Location</h4>
                <input type="text" name="start">
                <h4></h4>
                <input type="submit" class = "btn btn-default">
              </form>
               </div>
               <div class - "col-lg-6">
                 <img src="img/penguin-logo.png" class="img-fluid" alt="Penguin logo">
               </div>
           </div>
        </div>
        </div>
      </div>
    </section>
   <section class="contact bg-primary" id="contact" style="background:#FF791D;">
      <div class="container">
        <h2>Contact</h2>
        <div class = "row">
          <div class = "col-sm-6">
            <h3>Clarissa Xu</h3>
          </div>
          <div class = "col-sm-6">
            <h3>Linda Weng</h3>
          </div>
          
        </div>
        <div class = "row">
          <div class = "col-sm-6">
            <ul class="list-inline list-social">
              <li class="list-inline-item social-facebook">
                <a href="https://www.facebook.com/clarissax.xu">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item social-github">
                <a href="https://github.com/clarissa2448">
                  <i class="fa fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class = "col-sm-6">
            <ul class="list-inline list-social">
              <li class="list-inline-item social-facebook">
                <a href="https://www.facebook.com/linda.weng.1272">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item social-github">
                <a href="https://github.com/lindaweng">
                  <i class="fa fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <p>&copy; 2017 Kode with Klossy Detroit</p>
      </div>
    </footer>
    <!-- Custom scripts for this template -->
    
    
    <!--Bootstrap Core JS-->
    <!--<script src="vendor/jquery/jquery.js"></script>-->
    <!--<script src="vendor/popper/popper.js"></script>-->
    <!--<script src="vendor/bootstrap/js/bootstrap.js"></script>-->
  
      <!-- Plugin JavaScript -->
    <!--<script src="vendor/jquery-easing/jquery.easing.js"></script>-->
    <script src="js/new-age.js"></script>
  </body>
</html>
